.button{
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    margin: 6px;
}
.primary{
    background-color: #0076ff;
    color: white;
}
.secondary{
    background-color: #6c757c;
    color: #fff;
}
.readmore{
    background-color: cadetblue;
    color: #fff;
}
.disabled{
    opacity: 0.5;
    cursor: not-allowed;
}